.chicken, .beef, .sushi {
        background-color: #f8f8f8;
        border: 1px solid;
        margin-top: 2em;
        margin: 1em;
        padding: 1em;

}

.menu {
        margin: 1em;

}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

        .mobile__backtop{
                visibility: hidden;
        }
}


/* monitor */
@media only screen and (min-width: 992px){
        .mobile__backtop{
                visibility: hidden;
        }

}